.fundoCadastro {
    background-image: url("https://ik.imagekit.io/4zbah2xtl/img/brain%20sides-bro.svg?updatedAt=1706831793432");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }